.NotificationProvider {
    max-height: 208px;
}
  
.Notification {
    border-radius: 3px;
    min-height: auto;
    margin: 10px 0;
    font: 400 11pt Roboto, arial, sans-serif;
    color: #FFF;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
    padding: 12px 14px 12px 44px;
}
.Notification:before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    margin: auto;
    left: 14px;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
}
.Notification-progress {
    height: 2px;
    background: #FFF;
}

.Toastify__toast--default {
    background-color: #EEE; 
    color: #555;
    padding: 10px 20px;
}
.Toastify__toast--default .Notification-progress {
    background-color: #555;
}

.Toastify__toast--info {
    background: var(--info-color); 
}
.Toastify__toast--info:before {
    background-image: url(./icons/info.png);
}

.Toastify__toast--success {
    background: var(--success-color);
}
.Toastify__toast--success:before {
    background-image: url(./icons/success.png);
}

.Toastify__toast--warning {
    background: var(--warning-color);
}
.Toastify__toast--warning:before {
    background-image: url(./icons/warning.png);
}

.Toastify__toast--error {
    background: var(--error-color);
}
.Toastify__toast--error:before {
    background-image: url(./icons/error.png);
}
