.LoadingError {
    height: 30px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    font: 600 30px Roboto, arial, sans-serif;
    line-height: 30px;
    color: var(--error-color);
}
