.DropdownMenu {
    display: inline-block;
    position: absolute;
    top: 100%;
    padding: 4px 0;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    transform: scale(0.8);
    opacity: 0;
    transition: all 0.1s linear;
    z-index: 2;
}
.arrow {
    width: 8px;
    height: 8px;
    position: absolute;
    top: -4px;
    background: linear-gradient(to right bottom, #FFF 50%, transparent 50%);
    transform: rotate(45deg);
}
.left_placement {
    left: 0;
    transform-origin: left top;
}
.right_placement {
    right: 0;
    transform-origin: right top;
}

.opened {
    transform:  scale(1);
    opacity: 1;
}

.DropdownItem {
    padding: 4px 12px;
    font: 400 10pt Roboto, arial, sans-serif;
    color: #444;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.1s linear;
}

.DropdownItem:hover {
    background: #EEE;
}

.DropdownContainer {
    display: inline-block;
    position: relative;
}