.DropdownMenu {
    display: inline-block;
    position: absolute;
    top: 100%;
    padding: 4px 0;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    transition: opacity 0.1s linear, transform 0.1s cubic-bezier(0,1,1,1);
    overflow: hidden;
    z-index: 2;
}
.closed {
    transform: scale(0);
    opacity: 0;
    transition: opacity 0.1s linear, transform 0.1s cubic-bezier(1,0,1,1);
}

.arrow {
    width: 8px;
    height: 8px;
    position: absolute;
    margin: auto;
    bottom: -4px;
    left: 0;
    right: 0;
    background: linear-gradient(to right bottom, #FFF 50%, transparent 50%);
    transform: rotate(45deg);
    transition: width 0.1s, height 0.1s;
    z-index: 3;
}
.arrow_closed {
    width: 0;
    height: 0;
}

.left_placement {
    left: 0;
    transform-origin: left top;
}
.right_placement {
    right: 0;
    transform-origin: right top;
}

.DropdownItem {
    padding: 4px 12px;
    font: 400 10pt Roboto, arial, sans-serif;
    color: #444;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.1s linear;
}

.DropdownItem:hover {
    background: #EEE;
}

.DropdownContainer {
    display: inline-block;
    position: relative;
}