.Divider {
    height: 1px;
    background: var(--line-color);
    margin: 4px 0;
}

.small-space {
    margin: 4px 6px;
}

.medium-space {
    margin: 4px 12px;
}

.large-space {
    margin: 4px 18px;
}