.TopBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: var(--TopBar-size);
    position: fixed;
    left: 0;
    top: 0;
    background: var(--primary-color);
    box-shadow: 0 0 4px 1px #AAA;
}

.menu-button {
    width: 26px;
    height: 26px;
    position: absolute;
    right: 18px;
    border-radius: 3px;
}
.menu-button:hover {
    background: rgba(0, 0, 0, 0.2);
}

.icon {
    width: 18px;
    height: 18px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}