.Bookmark {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 340px;
    height: 60px;
    box-sizing: border-box;
    position: relative;
    margin: 7px 9px;
    padding: 4px 6px;
    background: #F4F4F4;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    cursor: default;
    overflow: hidden;
}

.icon {
    width: 16px;
    height: 16px;
    opacity: 0.8;
}

.data {
    max-width: 490px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 8px;
    transition: 0.1s;
}

.name {
    margin: 0;
    margin-bottom: 2px;
    font: 500 11pt Roboto, arial, sans-serif;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.url {
    text-decoration: none;
    font: 400 10pt Roboto, arial, sans-serif;
    color: #25A;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.url:hover {
    color: #47C; 
    text-decoration: underline;
}
.url:active {
    color: #038; 
}

.buttons {
    position: absolute;
    right: 0;
    opacity: 0;
    transition: all 0.1s linear;
}
.Bookmark:hover > .buttons {
    opacity: 1;
}
.Bookmark:hover > .data {
    max-width: 425px;
}

.new_bookmark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.1s linear;
}
.new_bookmark:hover {
    background:#E8E8E8;
}
.new_bookmark:active {
    background:#DDD;
}