.InputField {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 340px;
    box-sizing: border-box;
    position: relative;
    margin: 8px 0; 
}
.column_dir {
    flex-direction: column;
    align-items: stretch;
}
.column_dir .label {
    align-self: flex-start;
}

.label {
    box-sizing: border-box;
    margin-right: 10px;
    cursor: default;
    color: #555;
    font: 400 11pt Roboto, arial, sans-serif;
    line-height: 30px;
    transition: all 0.1s linear;
    white-space: nowrap;
}
.label_focus {
    color: var(--primary-color);
}

.input_container {
    flex-grow: 1;
    height: 100%;
    position: relative;
}

.input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    background: transparent;
    color: #333;
    font: 11pt Roboto, arial, sans-serif;
    border: none;
    border-bottom: solid 1px #AAA;
    padding: 0;
    outline: none;
    transition: all 0.1s linear;
}
.input:hover {
    border-color: #555;
}
.outline {
    border: solid 1px #AAA;
    border-radius: 3px;
    padding: 0 6px;
}
.outline:focus {
    border-color: var(--primary-color);
}
.border {
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--primary-color);
    transition: all 0.25s ease-out;
}
.input:focus ~ .border {
    width: 100%;
}
.input:disabled,
.input:disabled:hover {
    border-color: var(--line-color);
}
.input:read-only,
.input:read-only:hover {
    border-color: #AAA;
    cursor: default;
}

.eye {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.25s;
    position: relative;
    right: 0;
    top: 0;
}
.eye:before {
    content: "";
    width: 12px;
    height: 12px;
    border: solid 2px #555;
    border-radius: 60% 10%;
    transform: rotate(45deg);
    outline: none;
    cursor: pointer;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.eye:after {
    content: "";
    width: 8px;
    height: 8px;
    background: #555;
    border-radius: 50%;
    transition: 0.25s;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.eye-slash {
    z-index: 1;
    width: 2px;
    height: 22px;
    box-shadow: 0 0 0 1px #FFF;
    background: #555;
    transition: 0.25s;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(-45deg);
}
.eye:hover {
    background: rgba(0, 0, 0, 0.1);
}
.eye:hover > .eye-slash {
    box-shadow: 0 0 0 1px #EEE;
}
.eye:active {
    background: rgba(0, 0, 0, 0.2);
}
.eye:active > .eye-slash {
    box-shadow: 0 0 0 1px #DDD;
}

.highlighting {
    background: #DDD;
}

.icon_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    right: 2px;
    top: 0;
}