.Editing {
    display: flex;
    flex-direction: column;
    width: 750px;
    min-height: 250px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    background: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    overflow: hidden;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: scroll;
    padding: 6px 0;
}

.footer {
    width: 100%;
    border-top: solid 1px var(--line-color);
    text-align: center;
    padding: 10px 0;
}
