.Notes {
    display: inline-block;
    width: 750px;
    height: 100%;
    min-height: 400px;
    position: relative;
    background: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    overflow-y: scroll;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px;
    overflow-Y: auto;
}

.Note {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    position: relative;
    margin: 10px;
    border-radius: 4px;
    background: #F4F4F4;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.modal_note_header {
    width: 100%;
    margin-bottom: 6px;
    padding-bottom: 3px;
    font-size: 15pt;
    font-weight: 500;
    border-bottom: solid 1px var(--line-color);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0;
    background: #E8E8E8;
    border-bottom: solid 1px var(--line-color);
    color: #222;
    font: 500 11pt Roboto, arial, sans-serif;
    padding: 1px 6px;
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.content {
    flex-grow: 1;
    margin: 0;
    font: 400 10pt Roboto, arial, sans-serif;
    color: #333;
    padding: 1px 6px;
    cursor: pointer;
    overflow: hidden;
}

.new_note {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    cursor: pointer;
    transition: background 0.1s linear;
}
.new_note:hover {
    background:#E8E8E8;
}
.new_note:active {
    background:#DDD;
}