.IconButton {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    position: relative;
    border: none;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    outline: none;
}
.IconButton::after {
    content: "";
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: inherit;
}
.IconButton:hover:after {
    background: rgba(0, 0, 0, 0.1);
}
.IconButton:active:after {
    background: rgba(0, 0, 0, 0.2);
}
.IconButton:disabled {
    opacity: 0.4;
    cursor: default;
}
.IconButton:disabled:hover {
    background: transparent;
}

.box {
    background: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.very_small {
    width: 16px;
    height: 16px;
}

.small {
    width: 24px;
    height: 24px;
}

.medium {
    width: 32px;
    height: 32px;
}

.large {
    width: 48px;
    height: 48px;
}

.very_large {
    width: 64px;
    height: 64px;
}