.Stepper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    overflow: hidden;
    counter-reset: stepper_counter;
}

.StepperItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 22px;
    height: 22px;
    position: relative;
    border-radius: 50%;
    background: #AAA;
    font: 400 11pt Roboto, arial, sans-serif;
    color: #888;
}
.StepperItem:after {
    counter-increment: stepper_counter;
    content: counter(stepper_counter);
    box-sizing: border-box;
    position: absolute;
    left: 7px;
    top: 1px;
    font: 400 10pt Roboto, arial, sans-serif;
    color: #FFF;
}

.selected  {
    background: var(--primary-color);
}
.completed  {
    background: var(--primary-color);
}
.completed:after {
    content: "";
    width: 13px;
    height: 7px;
    left: 4px;
    top: 5px;
    border-left: solid 2px #FFF;
    border-bottom: solid 2px #FFF;
    transform: rotate(-45deg);
}

.StepDivider {
    flex-grow: 1;
    height: 1px;
    margin: 0 12px;
    background: var(--line-color);
}