.TextArea {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 340px;
    position: relative;
    margin: 8px 0;
    border-radius: 3px;
}

.text_field {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: solid 1px #AAA;
    border-radius: 3px;
    font: 11pt Roboto, arial, sans-serif;
    color: #333;
    padding: 8px 6px;
    outline: none;
    resize: none;
    transition: all 0.1s linear;
}

.label {
    align-self: flex-start;
    order: -1;
    box-sizing: border-box;
    margin-right: 10px;
    cursor: default;
    color: #555;
    font: 400 11pt Roboto, arial, sans-serif;
    line-height: 30px;
    transition: all 0.1s linear;
    white-space: nowrap;
}
.label:after {
    content: ":";
}

.text_field:hover {
    border-color: #555;
}
.text_field:focus {
    border-color: var(--primary-color);
}
.text_field:focus + .label {
    color: var(--primary-color);
}