.NavBar {
    display: inline-block;
    position: relative;
    margin-left: 12px;
    padding: 4px 0;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    z-index: 4;
}

.NavItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    padding: 6px 12px;
    font: 400 10pt Roboto, arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.NavItem span {
    box-sizing: border-box;
    margin-left: 8px;
    color: var(--primary-color);
    white-space: nowrap;
}

.NavItem:hover {
    background: #F8EEF8;
}
.NavItem:active {
    background: #EDE;
}