.NavBar {
    display: inline-block;
    position: relative;
    margin-left: 12px;
    padding: 4px 0;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.NavItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    padding: 8px 12px;
    border-top: solid 1px transparent;
    border-bottom: solid 1px transparent;
    font: 400 11pt Roboto, arial, sans-serif;
    cursor: pointer;
}
.NavItem:hover {
    background: #EEE;
}
.NavItem:active {
    background: #DDD;
    padding-top: 9px;
    padding-bottom: 7px;
}