.ModalWindow {
    display: flex;
    flex-direction: column;
    width: 400px;
    max-height: 80%;
    border-radius: 3px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 10%;
    background: #FFF;
    box-shadow: 0 0 20px -5px #000;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-30px);
    transition: 0.25s;
}

.opened {
    opacity: 1;
    transform: translateY(0);
}

.small {
    width: 200px;
}

.medium {
    width: 400px;
}

.large {
    width: 600px;
}

.ModalBody {
    min-height: 50px;
    position: relative;
    font: 400 12pt Roboto, arial, sans-serif;
    line-height: 17pt;
    color: #555;
    padding: 12px 18px;
    overflow: auto;
}

.ModalBody header {
    font-size: 14pt;
    line-height: 22pt;
    color: #333;
    margin-bottom: 8px;
}

.ModalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font: 700 16pt Roboto, arial, sans-serif;
    padding: 6px 18px;
    background: var(--primary-color);
    color: #FFF;
}

.primary {
    background: var(--primary-color);
}

.secondary {
    background: var(--secondary-color);
}

.info {
    background: var(--info-color);
}

.success {
    background: var(--success-color);
}

.warning {
    background: var(--warning-color);
}

.error {
    background: var(--error-color);
}

.ModalFooter {
    padding: 12px;
}