.SideMenu {
    width: 200px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    padding: 8px 0;
    background: #FFF;
    box-shadow: 0 0 20px -2px #000;
    transform: translateX(200px);
    transition: all 0.2s linear;
}

.opened {
    transform: translateX(0);
}

.MenuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    font: 400 13pt Roboto, arial, sans-serif;
    color: #444;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.1s linear;
}

.MenuItem:hover {
    background: #DDD;
}

.MenuIcon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    position: relative;
}
.MenuIcon:after {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.15);
    content: "";
}
.MenuIconImg {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0;
}