.Loading {
    width: 60px;
    height: 60px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    background: #FFF;
    box-shadow: var(--default-box-shadow);
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.5);
}
  
.circle {
    width: 8px;
    height: 8px;
    background: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 5px;
    transform-origin: center 25px;
}
.first {
    animation: first_moving 1.2s infinite ease-in-out;
}
.second {
    animation: second_moving 1.2s infinite ease-in-out;
}
.third {
    animation: third_moving 1.2s infinite ease-in-out;
}
.fourth {
    animation: fourth_moving 1.2s infinite ease-in-out;
}
  
@keyframes first_moving {
    0% {
        transform: rotate(30deg);
    }
    50%, 100% {
        transform: rotate(390deg);
    }
}
@keyframes second_moving {
    0% {
        transform: rotate(10deg);
    }
    67%, 100% {
        transform: rotate(370deg);
    }
}
@keyframes third_moving {
    0% {
        transform: rotate(-10deg);
    }
    84%, 100% {
        transform: rotate(350deg);
    }
}
@keyframes fourth_moving {
    0% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(330deg);
    }
}