.Loading {
    width: 60px;
    height: 60px;
    background: #EEE;
    border-radius: 50%;
    position: relative;
    margin: 50px auto;
}
  
.circle {
    width: 8px;
    height: 8px;
    background: var(--info-color);
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 5px;
    transform-origin: center 25px;
}
.first {
    animation: firstMoving 1.2s infinite ease-in-out;
}
.second {
    animation: secondMoving 1.2s infinite ease-in-out;
}
.third {
    animation: thirdMoving 1.2s infinite ease-in-out;
}
.fourth {
    animation: fourthMoving 1.2s infinite ease-in-out;
}
  
@keyframes firstMoving {
    0% {
        transform: rotate(30deg);
    }
    50%, 100% {
        transform: rotate(390deg);
    }
}
@keyframes secondMoving {
    0% {
        transform: rotate(10deg);
    }
    67%, 100% {
        transform: rotate(370deg);
    }
}
@keyframes thirdMoving {
    0% {
        transform: rotate(-10deg);
    }
    84%, 100% {
        transform: rotate(350deg);
    }
}
@keyframes fourthMoving {
    0% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(330deg);
    }
}