.AutBar {
    width: 400px;
    position: relative;
    margin: 0 32px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    padding-bottom: 40px; 
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    position: relative;
    color: #555;
    font: 400 11pt Roboto, arial, sans-serif;
    white-space: nowrap;
}

.subtitle {
    color: #555;
    font: 400 11pt Roboto, arial, sans-serif;
    margin-top: 8px;
}

.checking_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    position: relative;
    margin: 8px 0;
    font: 400 11pt Roboto, arial, sans-serif;
    white-space: nowrap;
}
.checking_row span:first-child {
    color: #888;
}
.checking_row span:last-child {
    color: #333;
}