.UserPrew {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 500px;
    box-sizing: border-box;
    margin: 6px 0;
    background: #F4F4F4;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}
.UserPrew:hover {
    background: #E8E8E8;
}

.avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-right: solid 1px var(--line-color);
}

.user_data {
    display: flex;
    flex-direction: column;
    width: 346px;
    position: relative;
    margin: 3px 6px;
    font: 500 11pt Roboto, arial, sans-serif;
    color: var(--primary-color);
    white-space: nowrap;
}
.user_data span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.residence_place {
    font: 400 10pt Roboto, arial, sans-serif;
    color: #777;
}